<div class="card  md:w-25rem overflow-hidden" style="max-height: 63rem;">
    <div class="flex justify-content-between align-items-center w-full  h-3rem">
       <p-inplace #inplace [closable]="true" (onDeactivate)="atualizaTitulo(coluna.idColuna, coluna.nomeColuna)" closeIcon="pi pi-check" styleClass="h-auto" (onActivate)="focus()">
            <ng-template pTemplate="display" >
              <span class="block text-900 font-semibold mt-4 pl-2 text-lg" style="word-break: break-word;" tooltipPosition="top">{{coluna.nomeColuna}}</span>
           </ng-template>
          <ng-template pTemplate="content">
            <input #inputEl type="text" [value]="coluna.nomeColuna" [(ngModel)]="coluna.nomeColuna" pInputText pInputText class="w-10rem sm:w-15rem h-3rem text-900 text-lg"  (keydown.enter)="inplace.deactivate()">
          </ng-template>
        </p-inplace>
        <div>
          <button pButton pRipple type="button" icon="pi pi-ellipsis-h" class="p-button-rounded p-button-text p-button-secondary"  (click)="menu.toggle($event)"></button>
          <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
      </div>
    </div>
      <div
      class=" flex flex-column gap-5 overflow-y-auto  mt-4 scrollable kanban-list"
      [id]="coluna.nomeColuna"
      (cdkDropListDropped)="dropCard($event)"
      [cdkDropListData]="coluna.cartoes"
      [cdkDropListConnectedTo]="colunaNomes"
      cdkDropList
      #listEl
      style="min-height:50rem; max-height: 50rem;">
        <app-kanban-card
        [cartao]="cartao"
        *ngFor="let cartao of coluna.cartoes "
        (click)="onCardClick($event, cartao)"
        cdkDrag
        cdkDragHandle
        [cdkDragDisabled]="isMobileDevice">
        </app-kanban-card>
     </div>
     <div class="px-4 mb-3 w-full mt-4 flex">
      <button pButton pRipple label="Adicionar Tarefa" icon="pi pi-plus font-semibold" class="py-3 justify-content-center font-semibold w-full border-round" (click)="insertCard()"></button>
  </div>
</div>
