:host ::ng-deep {

  .p-sidebar {
      .p-sidebar-header {
          display: none;
      }

      .p-sidebar-content {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          overflow: auto;
      }
  }
  .p-multiselect-label{
    white-space: initial
  }

}
