<p-sidebar [(visible)]="open" #sidebar position="right" [baseZIndex]="10000" styleClass="w-8 md:w-6 lg:w-5 xl:w-4" [showCloseIcon]="false">
  <ng-template pTemplate="content">
      <form [formGroup]="cardForm" >
          <div class="px-4 py-6 border-bottom-1 surface-border flex align-items-center justify-content-between h-4rem">
            <span class="block text-900 font-semibold text-lg pl-2">Editar cartão</span>
          </div>
          <div class="grid grid-nogutter gap-5 pt-5 flex-wrap flex-1 flex flex-column">
            <div class="col-12 field px-5">
              <label for="start" class="block text-900 font-semibold">Nome</label>
              <input id="password" type="text" pInputText formControlName="titulo" class="w-full">
            </div>
              <div class="col-12 field px-5">
                  <label for="start" class="block text-900 font-semibold">Descrição</label>
                  <textarea id="description" formControlName="descricao" placeholder="Digite a descrição do cartao" name="description" type="text" pInputTextarea [rows]="5"  style="resize: none" class="w-full"></textarea>
              </div>
              <div class="col-12 px-5 flex gap-5">
                   <div class="flex flex-column field w-full">
                      <label for="start" class="block text-900 font-semibold">Data Inicio</label>
                      <span class="p-input-icon-left w-full" style="height: 3.5rem;">
                          <i class="pi pi-clock z-1" style="left: 1.5rem;"></i>
                          <p-calendar name="startDate" [appendTo]="sidebar" dateFormat="yy-mm-dd" [showTime]="false" [required]="false" inputId="start" inputStyleClass="w-full pl-7 text-900 font-semibold" styleClass="w-full" [inputStyle]="{'height':'3.5rem'}" formControlName="dataInicio"></p-calendar>
                      </span>
                  </div>
                   <div class="flex flex-column field w-full">
                      <label for="due" class="block text-900 font-semibold">Data Final</label>
                      <span class="p-input-icon-left w-full" style="height: 3.5rem;">
                          <i class="pi pi-clock z-1" style="left: 1.5rem;"></i>
                          <p-calendar  formControlName="dataFinal" [appendTo]="sidebar" dateFormat="yy-mm-dd"  [showTime]="false" [required]="false" inputId="due" inputStyleClass="w-full pl-7 text-900 font-semibold" styleClass="w-full" [inputStyle]="{'height':'3.5rem'}" ></p-calendar>
                      </span>
                  </div>
              </div>
              <div class="col-12 flex flex-column row-gap-4 px-5 mb-6">
              </div>
          </div>
      </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex w-full justify-content-end border-top-1 surface-border py-5 px-5 gap-3">
      <button pButton pRipple type="button" label="Deletar" class=" p-button-outlined p-button-danger" ></button>
      <button pButton pRipple type="button"(click)="close()" label="Cancelar" class="p-button-primary p-button-danger"></button>
      <button pButton pRipple type="submit"  (click)="onSave()"label="Salvar" class="p-button-primary h-3rem" ></button>
    </div>
  </ng-template>
</p-sidebar>
